<div class="login">
    <h1>Login form</h1>
    <form [formGroup]="logindata" (ngSubmit) = "onClickSubmit(logindata.value)" >

        <label for="username"><h2>Username</h2></label>
        <input type="text" placeholder="Enter Username" formControlName="username" required>

        <label for="password"><h2>Password</h2></label>
        <input type="password" placeholder="Enter Password" formControlName="password" required>

        <button type="submit"><h2>Login</h2></button>

    </form>
</div>
